/* CHARTE GRAPHIQUE*/
/*typographie*/
@import url("https://rsms.me/inter/inter.css");
:root {
  font-family: "Inter var", sans-serif;
}

/*couleur*/
/*:root {
  --foret: hsl(120, 50%, 20%);
}*/

:root {
  --unit: 1rem;
}
.txtblanc {
  color: white;
}
.txtlila {
  color: #bb9ae5;
}
.fontvariation {
  font-feature-settings: "ss02";
}
.alignercentre {
  text-align: center;
}
.justifgcentre {
  text-align: left;
}
