header:not(.je-suis-petit),
section:not(.je-suis-petit) {
  min-height: 100vh;
}

.container {
  max-width: 60rem;
  margin: auto;
}

/* @media (min-width: 800px) { */

nav ul {
  display: flex;
  justify-content: space-between;
  min-height: 8rem;
  text-align: center;
}
nav ul li {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li a {
  display: block;
  width: max-content;
  padding: 1rem;
  color: inherit;
  text-decoration: none;
}
nav a:hover {
  color: #bb9ae5;
}

section.single,
.untrucaumilieu,
.header {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#scroll_to_top {
  position: fixed;

  width: 40px;
  height: 30px;
  bottom: 50px;
  right: 30px;
  scale: 140%;
}
#scroll_to_top img {
  width: 25px;
}

.bigbleed.left {
  transform: scale(1.25) translate(-14%, 0%);
}
