header:not(.je-suis-petit),
section:not(.je-suis-petit) {
  min-height: 100vh;
}

.container {
  max-width: 60rem;
  margin: auto;
}

/* @media (min-width: 800px) { */

nav ul {
  display: flex;
  justify-content: space-between;
  min-height: 8rem;
  text-align: center;
}
nav ul li {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li a {
  display: block;
  width: max-content;
  padding: 1rem;
  color: inherit;
  text-decoration: none;
}
nav a:hover {
  color: #bb9ae5;
  transition: 0.3s;
}

section.single,
.untrucaumilieu,
.header {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#scroll_to_top {
  position: fixed;

  width: 40px;
  height: 30px;
  bottom: 50px;
  right: 30px;
  scale: 140%;
  --offset: 50px;
  z-index: 1;
}

html {
  scroll-behavior: smooth;
}

#scroll_to_top img {
  width: 25px;
}
.bigbleed.left.prems {
  transform: scale(1.25) translate(-14%, 15%);
}
.bigbleed.left {
  transform: scale(1.25) translate(-14%, 0%);
}
.bigbleed.right {
  transform: scale(1.25) translate(35%, 0%);
}
.bigbleed.left.faketime {
  transform: scale(2) translate(-40%, 0%);
  padding-top: 15%;
}

.bigbleed.right.baidtime {
  transform: scale(1.25) translate(9%, 0%);
  padding-top: 19%;
}

.hasBleed {
  max-width: 100vw;
  overflow: hidden;
}
.hasBleed2 {
  max-width: 100vmax;
  overflow: hidden;
}
.payement {
  max-width: 15vw;
}

.ipadfond {
  background-image: url(image/tablettevide.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 10%;
}

#imagetablettephoto img {
  padding-top: 40vh;
  max-width: 160vw;
  width: 160vw;
  /* img {src="image/tablettevide.png" alt="tablettevide"} */
}
