header:not(.je-suis-petit),
section:not(.je-suis-petit) {
  min-height: 100vh;
}

.container {
  max-width: 50rem;
  margin: auto;
}

/* @media (min-width: 800px) { */

nav ul {
  display: flex;
  justify-content: space-between;
  min-height: 8rem;
  text-align: center;
}
nav ul li {
  flex: 1;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li a {
  display: block;
  width: max-content;
  padding: 1rem;
  color: inherit;
  text-decoration: none;
}
nav a:hover {
  color: #bb9ae5;
}

section.single, 
.untrucaumilieu,
.header {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
