/*fourre tout, divers et varié*/

body {
  background: linear-gradient(black 12%, #bb9ae5 17%, #bb9ae5 90%, black 98%);
}

header {
  background: url("images/bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

header h1 {
  /*font-size: 2rem; */
  /* font-size: clamp(2rem, -9.773584905660377rem + 58.867924528301884vw, 41rem); */
  font-size: 25rem;
  margin-top: 1rem;
  font-weight: 650;
  letter-spacing: -0.002em;
  text-align: center;
}

.txtgauche {
  text-align: left;
  max-width: 60rem;
  padding-right: 34rem;
}

.txtgauchespecial {
  text-align: left;
  max-width: 80rem;
  padding-right: 25rem;
}

.alignercentre {
  text-align: center;
}

.single {
  justify-content: center;
}

#Boutoncommande {
  border-style: solid;
  border-radius: 2rem;
  border-width: 0.2rem;
  border-color: white;
  margin: auto;
  width: 25rem;
  min-height: 1rem;
  margin-top: 18rem;
  padding-bottom: 2.4rem;
}

h2 {
  font-size: 110px;
  padding-bottom: 15rem;
  padding-top: 20rem;
  font-weight: 400;
  line-height: 8rem;
}

h3 {
  font-size: 60px;
  padding-bottom: 1rem;
  padding-top: 15rem;
  font-weight: 300;
  line-height: 6rem;
}

h4 {
  font-size: 48px;
  padding-top: 5rem;
  padding-bottom: 2.5rem;
  font-weight: 300;
  line-height: 3.2rem;
}

p {
  font-size: 32px;
  padding-bottom: 3rem;
  padding-top: 1rem;
  line-height: 2.3rem;
  font-weight: 300;
}
header {
  padding-top: -1rem;
}
