/*fourre tout, divers et varié*/
body {
  /*background-color: #f1357a;*/
}
body {
  color: var(--foret);
}

h1 {
  font-size: 654px;
}

h2 {
  font-size: 134px;
}

h3 {
  font-size: 60px;
}

h4 {
  font-size: 48px;
}

p {
  font-size: 32px;
}
