/*fourre tout, divers et varié*/

body {
  background: linear-gradient(
    /* to top,
    rgb(0, 0, 0) 10%,
    rgb(187, 154, 229) 70%,
    rgb(255, 255, 255) 75%,
    rgb(0, 0, 0) 10%
  )*/
      black 12%,
    #bb9ae5 17%,
    white 40%,
    #bb9ae5 90%,
    black 98%
  );
  margin: 20rem;
}

h1 {
  /*font-size: 2rem; */
  /* font-size: clamp(2rem, -9.773584905660377rem + 58.867924528301884vw, 41rem); */
  font-size: 25rem;
  margin-top: 1rem;
}

h2 {
  font-size: 134px;
  padding-bottom: 15rem;
}

h3 {
  font-size: 60px;
  padding-bottom: 2rem;
}

h4 {
  font-size: 48px;
  padding-top: 3rem;
}

p {
  font-size: 32px;
  padding-bottom: 3rem;
  padding-top: 1rem;
}
