/**/
img {
  max-width: 100%;
  display: block;
}
/*systeme de colonne*/
@media (min-width: 700px) {
  .row {
    display: flex;
    gap: var(--unit);
  }
  .row > * {
    flex: 1;
  }
  .column {
    display: flex;
    flex-direction: column;
  }
}
